*,
*::before,
*::after {
    box-sizing:border-box;
}

html {
    font-size: 16px;
}

html, body, div, span, applet, object, iframe, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
@font-face {
    font-family: 'Nexa';
    src: url('../fonts/NexaBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nexa';
    src: url('../fonts/NexaLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
.top {
    background-image:url(images/Top_01-compressor.jpg);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}
.top-filter {
    background-color: #a38cca;
    opacity: 0.9;
    width: 100%;
}

.container {
    max-width:1140px;
    width: 100%;
    margin: 0 auto;
}

.flex-container {
    display:flex;
}

.main-nav {
    justify-content: flex-end;
    padding: 20px 60px;
    list-style: none;
    align-items: center
}

.main-nav a {
    font-family: 'Nexa';
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    padding: 10px 0;
    margin: 0 20px;
}

.main-nav a:active, .main-nav a:hover {
    border-bottom: 2px solid white;
    border-bottom-style: inset
}
/*first division*/
.container h1, .container p {
    text-align: center;
    font-family: 'Sintony', sans-serif;
    font-weight: 400;
    color: #fff;
}

.cyan-btn {
    color: #fff;
    text-decoration: none;
    font-family: 'Nexa';
    font-weight: bold;
    padding: 15px 45px;
    background-color: #4bd9dc;
    border-radius: 3px;
}

.center {
    display: block;
    margin: 40px auto;
    width 70%;
}

.btn-container a {
    margin: 30px auto;
}

.btn-get-started {
    color: #fff;
    text-decoration: none;
    font-family: 'Nexa';
    font-weight: bold;
    padding: 15px 45px;
    background-color: #b19cdb;
    border-radius: 3px;
    margin 30px;
}

.btn-try-demo {
    color: lightgray;
    text-decoration: none;
    font-family: 'Nexa';
    font-weight: bold;
    padding: 15px 45px;
    background-color: #fff;
    border-radius: 3px;
    border: 2px solid lightgray;
    cursor: pointer;
}

.responsive-display a {
    margin: 0 10px;
}
.first-container {
    text-align: center;
    font-family: 'Sintony', sans-serif;
    font-weight: 400;
    width: 100%;
    
}

.first-container h1 {
    color: #fff;
    font-weight: 400;
    line-height: 12px;
}

.first-container p {
    color: #fff;
    margin-bottom: 25px;
}
/*second division*/
.sec-container {
    text-align: center;
    font-family: 'Sintony', sans-serif;
    font-weight: 400;
    padding-bottom: 70px;
    margin: 0 200px;
}

.sec-container-p {
    color: gray;
    line-height: 30px;
}

.sec-container h2 {
    color: gray;
    margin-top: 45px;
    font-weight: 400;
}
/*third division*/
.third-container {
    font-family: 'Sintony', sans-serif;
    font-weight: 400;
    max-width: 900;
    padding-bottom: 420px;
}

.third-container p {
    color: gray;
    line-height: 30px;
    text-align: left;
    margin-bottom: 40px;
}

.third-container h2 {
    color: gray;
    margin-top: 45px;
    font-weight: 400;
}

.phone {
    background-image:url(images/Phone-compressor.png);
    background-position: center bottom;
    background-repeat: no-repeat;
}

.overflow {
    background-color: #a38cca;
    padding: 60px;
}

/*fourth division*/
.fourth-container {
    text-align: center;
    font-family: 'Sintony', sans-serif;
    font-weight: 400;
    max-width: 900;
    padding-bottom: 70px;
    
}

.fourth-container .btn-get-started {
    font-family: 'Nexa';
    font-weight: 300;
    border: 1px solid #fff;
}
.fourth-container .cyan-btn {
    font-family: 'Nexa';
    font-weight: 300;
}

.fourth-container h2 {
    color: #fff;
    font-weight: 400;
}

.fourth-container p {
    color: #fff;
    line-height: 30px;
    margin-bottom: 45px;
}
/* video */

.video .responsive{
    width: 100%;
    height: auto;
}
/*fifth division*/
.fas {
    color: #9880c5;
    font-size: 40px;
}

.fifth-container a {
    font-family: 'Sintony', sans-serif;
    font-weight: 400;
    color: #9880c5;
    text-decoration: none;
    font-size: 1rem;
    padding: 10px 0;
}

.fifth-container {
    text-align: center;
    font-family: 'Sintony', sans-serif;
    font-weight: 400;
    max-width: 900;
    margin: 80px 25px;
}

.fifth-container p {
    color: gray;
    line-height: 30px;
}

.fifth-container h2 {
    color: gray;
    margin-top: 45px;
    font-weight: 400;
}

 /*Sixth division*/
.sixth-container {
    text-align: center;
    font-family: 'Sintony', sans-serif;
    font-weight: 400;
    margin: 60px 25px;
}

.sixth-container .purple {
    color: #9880c5;
    line-height: 20px;
    font-weight: normal;
}

.borderless {
    width: 100%;
}
.sixth-container-border p, .sixth-container-border-1 p, .borderless p {
    color: lightgray;
    font-family: 'Nexa';
    font-weight: bold;
}
.borderless > p  {
    font-family: 'Sintony', sans-serif;
    font-weight: normal;
}
.sixth-container-border .gray, .sixth-container-border-1 .gray {
    color:gray;
    max-width: 300px;
    margin: 20px auto;
    line-height: 15px;
}

.sixth-justify {
    justify-content: center;
}

.borderless .purple {
    color: #9880c5;
    font-weight: normal;
    font-size: 1.4rem;
    font-family: 'Sintony', sans-serif;
}

.sixth-container-border, .sixth-container-border-1 {
    text-align: center;
    font-family: 'Nexa';
    font-weight: bold;
    font-weight: 400;
    padding-bottom: 70px;
    margin: 0 25px;
    border: 1px solid lightgray;
    border-radius: 5px;
    min-height: 630px;
    width: 90%;
}

.sixth-container-border-1 .yearly {
    color: #4bd9dc;
    font-weight: 700;
    font-size: 40px;
}

.sixth-container-border-1 h3 {
    padding: 20px 0;
    background-color: #a38cca;
    margin: 0;
    color: #fff;
}

.sixth-container-border h3 {
    padding: 20px 0;
    background-color: #a38cca;
    margin: 0;
    color: #fff;
}

.sixth-container-border-1 p:nth-child(3){
    margin: 35px 0;
}

.sixth-container-border p:nth-child(3) {
    color: #4bd9dc;
    font-weight: 700;
    font-size: 40px;
}

.sixth-container-border-1 p:nth-child(2){
    line-height: 1.5;
}

.sixth-container-border p:nth-child(2){
    line-height: 1.5;
}

.aa {
    border-color: #a38cca;
    color: #a38cca;
    position: relative;
    top: 72px;
    left: 0px;
    width: 70%;
}

.bb {
    position: relative;
    top: 30px;
    right: 0px;
    width: 70%;
}

hr {
    border: 1px solid lightgray;
    width: 70%;
}

/*seventh division*/
.mountains {
    background-image: url(images/MountainPic_02-compressor.jpg);
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 85px;
    margin-bottom: 120px;
}

.center-ipad {
    display: block;
    position: absolute;
    top: 4147px;
    width 70%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    padding-top: 40px;
}

.top-filter-mountains {
    background-color: #a38cca;
    opacity: 0.9;
    width: 100%;
    height: 800px;
}

.white-block {
    background-color: white;
    width: 100%;
    height: 100px;
    display:block;
    position:relative;
    top: 0px; /*4917px*/
    right: 0;
}

.purple-block {
    text-align: center;
    background-color: #a38cca;
    width: 100%;
    height: 120px;
    display:block;
    position:relative;
    top: 0;/*5067px;*/
    right: 0;
    margin: auto;
}

.purple-block > a {
    position: relative;
    top: 50px;
}

/* Eight section */

.contact {
    background-color: #a38cca;
    padding: 40px;
}

.container .sec-container h2{
    color: #fff;
    margin: 0;
    padding: 0;
}
 .contact .sec-container {
    padding-bottom: 20px;
}

.contact .section-content {
    width: 80%;
    max-width: 860px;
    margin: 60px auto;
}

.contact .section-content .contact-form .input-row {
    margin-bottom: 30px;
}

.contact .section-content .contact-form .input-row input {
    padding: 20px 25px;
    border-radius: 3px;
    border: none;
    color: #a38cca;
    background-color: #fff;
    width: calc(50% - 18px);
}

.contact .section-content .contact-form .input-row input:first-child {
    margin-right: 16px;
}

.contact .section-content .contact-form .input-row input:last-child {
    margin-left: 16px;
}

.contact .section-content .contact-form textarea {
    border: none;
    width: 100%;
    border-radius: 3px;
    padding: 25px;
    color: #a38cca;
    background-color: #fff;
}

.contact .section-content .contact-form .btn-try-demo {
    border-color: #a38cca;
    color: #a38cca;
    margin: 30px auto 0;
    border-radius: 5px;
}

input::placeholder, textarea::placeholder {
    font-family: 'Nexa';
    font-weight: 300;
}
/* ninth section*/
.ninth-container-col .h5{
    font-family: 'Sintony', sans-serif;
    font-weight: 400;
    color: gray;
    text-decoration: none;
    font-size: 1.4rem;
    padding: 10px 0;
    font-weight: normal;
}
.ninth-container-col {
    margin: 0 25px;
    line-height: 2;
}

.ninth-container-col li {
    list-style: none;
}
.ninth-container-col a {
    align-items: center;
    font-family: 'Nexa';
    font-weight: bold;
    color: gray;
    text-decoration: none;
}

.ninth-container {
    justify-content: center;
}
@media screen and (max-width: 1014px) {
    
    .flex-container {
    display: block;
    }
    
    .contact .section-content .contact-form .input-row input {
    padding: 20px 25px;
    border-radius: 5px;
    border: none;
    color: #a38cca;
    background-color: #fff;
    width: 100%;
    }
    
    .contact .section-content .contact-form .input-row input:first-child {
    margin-right: 0px;
    margin-bottom: 30px;
    }

    .contact .section-content .contact-form .input-row input:last-child {
        margin-left: 0px;
    }
    
    .mountains {
        display: none;
    }
    
    .center-ipad {
        display: none;
    }
    
    .main-nav a {
        font-family: 'Sintony', sans-serif;
        font-weight: 400;
        color: #fff;
        text-decoration: none;
        font-size: 1rem;
        padding: 10px 0;
        margin: 0px 20px;
        line-height: 50px;
    }
    
    .none {
        display: none;
    }
    
    .top {
        background-image:url(images/Top_01-compressor.jpg);
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
    }
    
    .top-filter {
        background-color: #a38cca;
        opacity: 0.9;
        width: 100%;
        height: auto;
        padding-bottom: 60px;
    }

    .sec-container {
        text-align: center;
        font-family: 'Sintony', sans-serif;
        font-weight: 400;
        padding-bottom: 70px;
        margin: 60px auto;
}
    
    .aa {
    border-color: #a38cca;
    color: #a38cca;
    position: relative;
    top: 103px;
    left: 0px;
}
    
    .third-container {
        font-family: 'Sintony', sans-serif;
        font-weight: 400;
        max-width: 900;
        padding-bottom: 100px;
    }
    
    .white-block {
    background-color: white;
    width: 100%;
    height: 200px;
    display:none;
    position:relative;
    top: 0px;
    right: 0;
}
    .purple-block {
    text-align: center;
    background-color: #a38cca;
    width: 100%;
    height: 120px;
    display:block;
    position:relative;
    top: 0;
    right: 0;
    margin: auto;
}
    .responsive-display a {
        display:block;
        margin: 15px auto;
        width: 200px;
    }
    
}